/**
 * Header
 * By: wesleyaltamiranda@gmail.com
 */
#header {
	position: relative;
  z-index: 100;
	.box-call {
		padding: 8px 16px 8px 10px;
		color: $font-color-primary !important;
		text-decoration: none !important;
		// @include media(xs) {
		// 	display: none;
    // }
		i {
			width: 28px;
			height: 28px;
			top: -1px;
			margin-right: 10px;
			background: $font-color-primary;
			font-size: 19px;
			line-height: 30px;
			text-align: center;
			color: $bg-color-four;
			border-radius: 100%;
		}
		span {
			font-family: $font-family-muli;
			font-size: $font-size-primary;
		}
	}
	.logo {
		display: inline-block;
		position: relative;
		top: 3px;
    height: 37px;
		// @include media(xs) {
		// 	display: none;
		// }
	}
	.menu-products,
	.menu-options {
		float: left;
	}
	.top {
		min-height: 70px;
		background: $bg-color-secundary;
		@include media(xs) {
			padding: 0;
  	}
	}
	.bottom {
		background: $bg-color-third;
	}
}
