/*------------------------------------*\
-------- DEMO Code: accordion
\*------------------------------------*/
/*----- Accordion -----*/
.accordion, .accordion * {
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	box-sizing:border-box;
}

.accordion {
	overflow:hidden;
	box-shadow:0px 1px 3px rgba(0,0,0,0.25);
	border-radius:3px;
	background:#f7f7f7;
}

/*----- Section Titles -----*/
.accordion .acs-title {
	width:100%;
	padding:15px;
	display:inline-block;
	border-top:1px solid #1a1a1a;
	background:#333;
	transition:all linear 0.15s;
	/* Type */
	font-size:1.200em;
	text-shadow:0px 1px 0px #1a1a1a;
	color:#fff;
	text-decoration: none;
}

.accordion .acs-title:after{
	display: inline-block;
	float: right;
	content: "";
	margin-top: 7px;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #FFF;
	/* border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #FFF; */
}

.accordion .acs-title.active:after{
	border-top: none;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #FFF;
}

.accordion .aco-section:first-child .acs-title {
	border-top:none;
}

.accordion .acs-title.active, 
.accordion .acs-title:hover {
	background:#4c4c4c;
	/* Type */
	text-decoration:none;
}

/*----- Section Content -----*/
.accordion .acs-content {
	padding:15px;
	display:none;
}

.accordion .acs-content.open {
	display: block;
}