<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	
	<title>Buttons</title>
	
	<link rel="stylesheet" type="text/css" href="../default/css/defaults.css">
	<link rel="stylesheet" type="text/css" href="css/buttons.css">
</head>
<body>
	<div class="header">
		<h1>Custom buttons Css Ver 1.0</h1>	
	</div>

	<div class="main">
		<h2>Defaults</h2>
		<div class="default">
			<button class="btn">Default</button>
			<button class="btn -pri">Primary</button>
			<button class="btn -sec">Secundary</button>
			<button class="btn -thi">Third</button>
			<button class="btn" disabled>Disabled</button>
			<button class="btn -link">Link</button>
		</div>

		<h2 class="-mt30">Sizes</h2>
		<div class="default">
			<button class="btn -xs">Extra Small</button>
			<button class="btn -pri -sm">Small</button>
			<button class="btn">Default</button>
			<button class="btn -sec -md">Medium</button>
			<button class="btn -thi -lg">Large</button>
		</div>

		<h2 class="-mt30">Block</h2>
		<div class="default">
			<button class="btn -xs -block">Extra Small</button>
			<button class="btn -pri -sm -block -mt10">Small</button>
			<button class="btn -block -mt10">Default</button>
			<button class="btn -sec -md -block -mt10">Medium</button>
			<button class="btn -thi -lg -block -mt10">Large</button>
		</div>
	</div>
</body>
</html>