<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	
	<title>Acordeon</title>
	
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Abeezee:400|Open+Sans:400,600,700|Source+Sans+Pro:400,600">
	<link rel="stylesheet" type="text/css" href="css/defaults.css">
	<link rel="stylesheet" type="text/css" href="css/accordion.css">
</head>
<body>
	<div class="header">
		<h1>Custom Accordion Jquery Ver 1.0</h1>	
	</div>
	
	<div class="main">
		<div class="accordion js-accordion">
			<div class="aco-section">
				<a class="acs-title js-acs-title" href="#aco-1">Acordeon Seccción #1</a>
				<div id="aco-1" class="acs-content js-acs-content">
					<p>Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras tincidunt enim vel aliquet facilisis. Duis congue ullamcorper vehicula. Proin nunc lacus, semper sit amet elit sit amet, aliquet pulvinar erat. Nunc pretium quis sapien eu rhoncus. Suspendisse ornare gravida mi, et placerat tellus tempor vitae.</p>
				</div>
			</div>

			<div class="aco-section">
				<a class="acs-title js-acs-title" href="#aco-2">Acordeon Seccción #2</a>
				<div id="aco-2" class="acs-content js-acs-content">
					<p>Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras tincidunt enim vel aliquet facilisis. Duis congue ullamcorper vehicula. Proin nunc lacus, semper sit amet elit sit amet, aliquet pulvinar erat. Nunc pretium quis sapien eu rhoncus. Suspendisse ornare gravida mi, et placerat tellus tempor vitae.</p>
				</div>
			</div>
			
			<div class="aco-section">
				<a class="acs-title js-acs-title" href="#aco-3">Acordeon Seccción #3</a>
				<div id="aco-3" class="acs-content js-acs-content">
					<p>Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras tincidunt enim vel aliquet facilisis. Duis congue ullamcorper vehicula. Proin nunc lacus, semper sit amet elit sit amet, aliquet pulvinar erat. Nunc pretium quis sapien eu rhoncus. Suspendisse ornare gravida mi, et placerat tellus tempor vitae.</p>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/accordion.js"></script>
</body>
</html>