//- Footer
//- By: wesleyaltamiranda@gmail.com
.footer-newsletter
	.container

.footer-center
	.container
		.row
			.col-ft-2.col-ft-offset-1
				.footer-nav.-color
					h3 Title 1
					ul
						li: a(href="#" title="Option 1") Option 1
						li: a(href="#" title="Option 2") Option 2
						li: a(href="#" title="Option 3") Option 3
						li: a(href="#" title="Option 4") Option 4
						li: a(href="#" title="Option 5") Option 5
						li: a(href="#" title="Option 6") Option 6

			.col-ft-2
				.footer-nav
					h3 Title 2
					ul
						li: a(href="#" title="Option 1") Option 1
						li: a(href="#" title="Option 2") Option 2
						li: a(href="#" title="Option 3") Option 3
						li: a(href="#" title="Option 4") Option 4
						li: a(href="#" title="Option 5") Option 5
						li: a(href="#" title="Option 6") Option 6

			.col-ft-2
				.footer-nav
					h3 Title 3
					ul
						li: a(href="#" title="Option 1") Option 1
						li: a(href="#" title="Option 2") Option 2
						li: a(href="#" title="Option 3") Option 3
						li: a(href="#" title="Option 4") Option 4
						li: a(href="#" title="Option 5") Option 5
						li: a(href="#" title="Option 6") Option 6

			.col-ft-2
				.footer-nav
					h3 Title 2
					ul
						li: a(href="#" title="Option 1") Option 1
						li: a(href="#" title="Option 2") Option 2
						li: a(href="#" title="Option 3") Option 3
						li: a(href="#" title="Option 4") Option 4
						li: a(href="#" title="Option 5") Option 5
						li: a(href="#" title="Option 6") Option 6

.footer-bottom
	small 2016 Template
