//- Main Menu
//- By: wesleyaltamiranda@gmail.com
nav#header-menu-products.menu-products
	a.js-btn-menu-products(href="javascript:;" title="Items" data-items="#menu-products-content" data-event="hover")
		i.icon.icon-show-lines
		span Items

//- Menu Options
//- By: wesleyaltamiranda@gmail.com
nav#header-menu-options.menu-options
	ul
		li
			a.active(href="#") Option 1

		li
			a(href="#") Option 2

		li.-children
			a(href="#") Option 3
			ul
				li
					a(href="#") Option 4

		li
			a(href="#") Option 5

		li
			a(href="#") Option 6

		li.-children
			a(href="#") Option 7
			ul
				li
					a(href="#") Item 1
